<% include partials/header %>

<div class="ui main text container">
    <div class="ui huge container">Query</div>
    <form action="/query" method="POST" class="ui form">
        <div class="field">
            <input type="text" name="inputQuery" placeholder="SQL query">
        </div>
        <input type="submit" class="ui inverted olive button">
    </form>
</div>



<% include partials/footer %>
