<% include partials/header %>
<div class="ui main text container">
    <div class="ui huge header"> Databases </div>
    <div class="ui top attached segment">
        <div class="ui divided items">

            <% dbs.forEach(function(db){ %>
            <div class="item">
                <div class="content">
                    <p><%= db %></p>
                </div>
            </div>
            <% }); %>

        </div>
    </div>
</div>

<% include partials/footer %>